doctype html 
html 
    head 
        block title 
    body 
        header 
            span Logo 
            span Menu 
            span Button 
        block main
        footer 
            p Copy right @2024

























//- doctype html 
//- html 
//-     head 
//-         block title 
//-     body 
//-         header 
//-             span Logo
//-             span Menu 
//-             span Button 
//-         block main

//-         footer 
//-             p copy right 2024